html, body {
  display: flex;
  font-family: Outfit;
  font-size: 10px;
  font-variation-settings: 'wght' 400;
  margin: 0;
  overflow: hidden;
  padding: 0;
}
* {
  box-sizing: border-box;
}

.font-medium {
  font-family: Outfit;
  font-size: 1.8rem;
  font-variation-settings: 'wght' 500;
}

.font-bold {
  font-family: Outfit;
  font-size: 1.8rem;
  font-variation-settings: 'wght' 700;
}